apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: grafana-repo
  namespace: flux-system
spec:
  interval: 1m
  url: https://grafana.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: flux-system
spec:
  interval: 10m
  targetNamespace: monitoring
  install:
    createNamespace: true
  chart:
    spec:
      chart: grafana
      version: '10.4.2'
      sourceRef:
        kind: HelmRepository
        name: grafana-repo
        namespace: flux-system
      interval: 10m
  values:
    service:
      type: NodePort
    persistence:
      enabled: true
    initChownData:
      enabled: false
