apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: prometheus-repo
  namespace: flux-system
spec:
  interval: 1m
  url: https://prometheus-community.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: flux-system
spec:
  interval: 10m
  targetNamespace: monitoring
  install:
    createNamespace: true
  chart:
    spec:
      chart: prometheus
      version: '27.52.0'
      sourceRef:
        kind: HelmRepository
        name: prometheus-repo
        namespace: flux-system
      interval: 10m
  values:
    server:
      service:
        type: NodePort
